* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
}

.todo__header {
  font-style: normal;
  font-weight: 100;
  font-size: 100px;
  color: #CCCCCC;
}

.todo-main {
  background-color: #fff;
  width: 80%;
  max-width: 562px;
  min-height: 500px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding-bottom: 49px;
}

.todo-main::after, .todo-main::before {
  display: block;
  height: 5px;
  content: "";
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-main::before {
  bottom: -4px;
  width: 98%;
  left: 1%;
  z-index: 1;
}

.todo-main::after {
  bottom: -8px;
  width: 96%;
  left: 2%;
}

.todo-main__input {
  padding: 20px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

.todo-main__input button {
  width: 30px;
  height: 30px;
  margin-right: 17px;
  background: center no-repeat url("../icons/select-all.png");
  border: none;
}

.todo-main__input input, .todo-main__input input {
  width: 100%;
  border: none;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #CCCCCC;
  outline: 0;
  outline-offset: 0;
}

.todo-main__input input::placeholder, .todo-main__input input::placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #CCCCCC;
}

.todo-main-list {
  list-style: none;
}

.todo-main-list-item {
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo-main-list-item:hover {
  background-color: #FAFAFA;
}

.todo-main-list-item label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.todo-main-list-item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #666666;
  display: flex;
  align-items: center;
}

.todo-main-list-item__text::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
  transition: 0.2s;
}

.todo-main-list-item__btn {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  background: center no-repeat url("../icons/close.png");
  transition: 0.2s;
}

.todo-main-list-item__checkbox {
  display: none;
}

.todo-main-list-item__checkbox:checked + .todo-main-list-item__text {
  color: #CCCCCC;
  text-decoration-line: line-through;
  transition: 0.2s;
}

.todo-main-list-item__checkbox:checked + .todo-main-list-item__text::before {
  border: 1px solid #5DC2AF;
  background: center no-repeat url("../icons/completed.png");
  transition: 0.2s;
}

.todo-main-dashboard {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #888888;
}

.todo-main-dashboard-filter {
  display: flex;
}

.todo-main-dashboard-filter__item span {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  user-select: none;
  cursor: pointer;
}

.todo-main-dashboard-filter__item input {
  display: none;
}

.todo-main-dashboard-filter__item input:checked + span {
  border: 1px solid #EBDFDF;
  border-radius: 2px;
}

.todo-main-dashboard-filter__item:not(:last-child) {
  margin-right: 10px;
}

.todo-main-dashboard__clear {
  color: #888888;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px;
  user-select: none;
  background-color: #fff;
}

.todo-main-dashboard__clear:hover {
  border: 1px solid #EBDFDF;
  border-radius: 2px;
}

.todo-main-dashboard__clear:active {
  background-color: #ccc;
}

@media screen and (max-width: 500px) {
  .todo-main {
    padding-bottom: 113px;
  }
  .todo-main-dashboard-filter {
    flex-direction: column;
    align-items: center;
  }
  .todo-main-dashboard-filter__item {
    margin: 7px;
  }
  .todo-main-list-item__text {
    font-size: 18px;
  }
  .todo-main__input input, .todo-main__input input {
    font-size: 18px;
  }
  .todo-main__input input::placeholder, .todo-main__input input::placeholder {
    font-size: 18px;
  }
}
